.child-title {
  padding-left: 25px;
}
.title {
  white-space: nowrap;
  width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title:hover {
  cursor: pointer;
}
input:hover {
  cursor: pointer;
}
label:hover {
  cursor: pointer;
}
label {
  user-select: none;
}
.icon-up {
  margin-right: 5px;
  transition: 0.25s;
}
.icon-down {
  margin-right: 5px;
  transform: rotate(90deg);
  transition: 0.25s;
}
