.tooltip-layout {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: white;
  color: black;
}

.tooltip-title {
  align-self: center;
}
.tooltip-content {
  display: flex;
  justify-content: space-between;
}

.light {
  font-size: smaller;
  font-weight: lighter;
}

.bold {
  font-weight: bold;
  font-size: larger;
}
.pipe-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
